body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.portrait {
    height: 500px;
}

h1 {
    text-align: center;
}

p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.links a {
    display: block;
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s;
    text-align: center;
}

.links a:hover {
    color: #005fa3;
}
